@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  transition: all 0.3s;
}

section {
  padding: 100px;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/bg2.jpg);
  background-color: #111;
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner .content h2 {
  font-size: 3.7em;
  color: #fff;
}
.banner .content p {
  color: #fff;
  font-size: 1.2em;
}
.banner .content .btn {
  margin-top: 20px;
  font-size: 1em;
  color: #fff;
  border: none;
  background: #ff0157;
  padding: 4px 10px;
  text-align: center;
  width: 150px;
  text-decoration: none;
  text-transform: uppercase;
}
.banner .content .btn:hover {
  box-shadow: 0 2px 6px #f7558b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  box-shadow: 0 2px 4px rgba(51, 51, 51, 0.753);
  background-color: #fff;
  padding: 10px 100px;
}
header.sticky .logo {
  color: black;
}
header.sticky .nav li a {
  color: #111;
}
header .logo {
  color: white;
  font-size: 2em;
  text-decoration: none;
}
header .logo span {
  color: #ff0157;
}
header .fas {
  display: none;
}
header .nav {
  position: relative;
  display: flex;
}
header .nav li {
  list-style: none;
  margin-left: 30px;
}
header .nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}
header .nav li a:hover {
  color: brown;
}
@media only screen and (max-width: 830px) {
  header {
    padding: 20px 50px;
  }
  header.sticky {
    padding: 10px 50px;
  }
  header.sticky .fas {
    color: #202020;
  }
  header .nav {
    display: none;
  }
  header .nav.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-color: #fff;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100% - 68px);
    border: 1px solid red;
  }
  header .nav.active li {
    text-align: center;
    margin: 5px;
  }
  header .nav.active li a {
    color: #1d1d1d;
    font-weight: 700;
    font-size: 20px;
  }
  header .nav.active li a:hover {
    color: brown;
    border-bottom: 1px solid #ff0157;
  }
  header .fas {
    display: block;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
  }
}

section.about {
  transition: all 0.3s;
}
section.about .row {
  display: flex;
  position: relative;
  justify-content: space-between;
}
section.about .row .col150 {
  width: 48%;
  font-weight: 500;
}
section.about .row .col150 h2 {
  font-size: 2em;
}
section.about .row .col150 h2 span {
  font-weight: 700;
  color: #ff0157;
}
section.about .row .col150 p {
  font-size: 17px;
}
section.about .row .col150 .imgbox {
  position: relative;
  width: 100%;
  min-height: 300px;
}
section.about .row .col150 .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media only screen and (max-width: 810px) {
  section.about {
    padding: 50px;
  }
  section.about .row {
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
  }
  section.about .row .col150 {
    width: 100%;
    font-weight: 500;
  }
  section.about .row .col150 .imgbox {
    margin-top: 30px;
  }
}

section.menu .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.menu .title .title_text span {
  color: #ff0157;
}
section.menu .content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
section.menu .content .box {
  margin: 20px;
  width: 340px;
  border: 15px solid #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.199);
}
section.menu .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}
section.menu .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.menu .content .box .text {
  padding: 9px 0 5px 3px;
}
@media only screen and (max-width: 810px) {
  section.menu {
    padding: 45px;
  }
  section.menu .content {
    margin-top: 40px;
  }
  section.menu .content .box {
    margin: 15px;
    width: 100%;
  }
  section.menu .content .box .text {
    text-align: center;
    padding: 9px 0 5px 3px;
  }
}

section.expert .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.expert .title .title_text span {
  color: #ff0157;
}
section.expert .content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
section.expert .content .box {
  margin: 15px;
  width: 250px;
  border: 15px solid #fff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.199);
}
section.expert .content .box .imgbox {
  position: relative;
  width: 100%;
  height: 300px;
}
section.expert .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.expert .content .box .text {
  padding: 9px 0 5px 3px;
}
@media only screen and (max-width: 810px) {
  section.expert {
    padding: 45px;
  }
  section.expert .content {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  section.expert .content .box {
    margin: 15px;
    width: 100%;
    border: 15px solid #fff;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.199);
  }
  section.expert .content .box .imgbox {
    position: relative;
    width: 100%;
    height: 300px;
  }
  section.expert .content .box .imgbox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  section.expert .content .box .text {
    padding: 9px 0 5px 3px;
  }
}

section.testimonials {
  background: url("../../assets/bg2.jpg");
  background-size: cover;
}
section.testimonials .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
section.testimonials .title .title_text span {
  color: #ff0157;
}
section.testimonials .content {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
section.testimonials .content .box {
  margin: 15px;
  width: 300px;
  padding: 10px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.testimonials .content .box .imgbox {
  overflow: hidden;
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
section.testimonials .content .box .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.testimonials .content .box .text {
  text-align: center;
  padding: 9px 0 5px 3px;
}
section.testimonials .content .box .text p {
  font-size: 0.9em;
  color: #666;
  font-style: italic;
}
section.testimonials .content .box .text h3 {
  font-size: 14px;
  color: #ff0157;
  font-weight: 600;
  margin-top: 30px;
}
@media only screen and (max-width: 810px) {
  section.testimonials {
    padding: 45px;
  }
}

section.contact {
  background: url(../../assets/bg3.jpg);
  background-size: cover;
}
section.contact .title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.contact .title .title_text span {
  color: #ff0157;
}
section.contact .form_box {
  background-color: #fff;
  padding: 75px 40px;
  margin-top: 50px;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(7, 7, 7, 0.507);
}
section.contact .form_box h3 {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #111;
  font-weight: 700;
}
section.contact .form_box .input_box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
section.contact .form_box .input_box input,
section.contact .form_box .input_box textarea {
  width: 100%;
  border: 1px solid #9b9b9b71;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
}
section.contact .form_box .input_box input:focus,
section.contact .form_box .input_box textarea:focus {
  box-shadow: 0 0 9px #ff0157;
  border: 0.5px solid transparent;
}
section.contact .form_box .input_box input[type=submit] {
  max-width: 100px;
  background-color: #ff0157;
  color: #ffff;
  font-size: 1em;
  letter-spacing: 2px;
  transition: 0.5s;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@media only screen and (max-width: 810px) {
  section.contact {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.copyWrite {
  padding: 8px 40px;
  text-align: center;
  border-top: 1px solid #9b9b9b71;
}
.copyWrite p {
  font-weight: 700;
  font-size: 16px;
  color: #555;
}
.copyWrite p a {
  text-decoration: none;
  color: #ff0157;
}

/*# sourceMappingURL=main.css.map */
